body{
    background-color: lightslategray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
}

.izquierda{
    background-color: darkblue;
    width: 30%;
    min-height: 1600px;
    max-height: 2000px;
    color: white;
    min-width: 300px;
}

.derecha{
    background-color: white;
    width: 70%;
    min-height: 1600px;
    max-height: 2000px;
    min-width: 300px;
}

img{
    margin-top: 25px;
    width: 100%;
}

.izquierda ul{
    list-style:none;
    display: flex;
    flex-flow: column wrap;
    justify-content: left;
    margin-bottom: 5%;
    padding: 15px;
}

.izquierda li{
    font-size: 17px;
    margin-left: 30px;
    margin-bottom: 5px;
}

.icono_2{
    margin: 20px;
}

.derecha h1{
    margin: 80px;
    margin-bottom: 40px;
    font-size: 50px;
    text-align: center;
    border-bottom: grey 1px solid;
}

.derecha span{
    font-size: 75px;
    color: darkblue;
}

.derecha .perfil{
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

.derecha div h3{
    margin-left: 0px;
    margin-top: 40px;
    color: white;
    border: black 1px solid;
    background-color: darkblue;
    padding: 5px;
    width: 250px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
}

.caja{
    display: flex;
    flex-flow: column;
}

.perfil .acerca{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.perfil .acerca .año_ent{
    min-width: 150px;
}

.perfil .acerca .texto{
    margin-left: 50px;
}

.icono{
    margin-right: 20px;
}